##Orgv1 Let's encrypt vhost 
##Cert_type: Single SSL Cert
##vhost_template_v: v1.0.0
##author: elmerfdz

##PROXY UPSTREAMS
## Replace the IP with your services IP if it's not installed on this machine
## Remove '#' to enable the services you want

#upstream organizr-upstream		{ server 127.0.0.1;       }
#upstream plex-upstream 		{ server 127.0.0.1:32400; }
#upstream plexpy-upstream 		{ server 127.0.0.1:8181;  }
#upstream ombi-upstream 		{ server 127.0.0.1:5000;  } 
#upstream sabnzbd-upstream 		{ server 127.0.0.1:8080;  }
#upstream nzbget-upstream		{ server 127.0.0.1:6789;  }
#upstream radarr-upstream 		{ server 127.0.0.1:7878;  }
#upstream sonarr-upstream 		{ server 127.0.0.1:8989;  }
#upstream mylar-upstream		{ server 127.0.0.1:8090;  }
#upstream headphones-upstream		{ server 127.0.0.1:8182;  }
#upstream lazyl-upstream		{ server 127.0.0.1:5299;  }
#upstream nzbhydra-upstream		{ server 127.0.0.1:5075;  }
#upstream comics-upstream		{ server 127.0.0.1:2202;  }
#upstream ubooquityadmin-upstream	{ server 127.0.0.1:2203;  }
#upstream unifi-upstream		{ server 127.0.0.1:8443;  }
#upstream hasse-upstream		{ server 127.0.0.1:8123;  }
#upstream jackett-upstream		{ server 127.0.0.1:9117;  }
#upstream mattermost-upstream		{ server 127.0.0.1:8065;  }
#upstream deluge-upstream		{ server 127.0.0.1:8112;  }
#upstream netdata-upstream		{ server 127.0.0.1:19999; }
#upstream cockpit-upstream		{ server 127.0.0.1:9090;  }
#upstream websocket			{ server 127.0.0.1:9090;  } #cockpit app requirement
#upstream ptweb-upstream		{ server 127.0.0.1:8088;  }
#upstream ptserver-upstream		{ server 127.0.0.1:8089;  }
#upstream cloudcmd-upstream		{ server 127.0.0.1:8000;  }

## Organizr
## http://DOMAIN redirects to https://DOMAIN
server {
	listen 80;
	listen [::]:80;
	server_name www.DOMAIN DOMAIN;
	include /etc/nginx/config/letsencrypt.conf;
	location / {return 301 https://$host$request_uri;}
}

## Serves https://www.DOMAIN
server {
	server_name www.DOMAIN DOMAIN;
	listen 443 ssl http2 default_server;
	listen [::]:443 ssl http2 default_server;
	ssl_certificate /etc/letsencrypt/live/www.DOMAIN/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/www.DOMAIN/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/www.DOMAIN/fullchain.pem;
	include /etc/nginx/config/ssl.conf;
	root ROOT/html;
	index index.php index.html index.htm index.nginx-debian.html;
	location /auth-admin { rewrite ^ /auth.php?admin&ban=someone,thisperson; } #Org Auth
	location /auth-user { rewrite ^ /auth.php?user&ban=someone,thisperson; }   #Org Auth
	error_page 400 401 403 404 405 408 500 502 503 504  /error.php?error=$status; #error page
	location / {try_files $uri $uri/ =404;}
	include config/phpblock.conf;  #PHP Block
}

